*
{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}

nav
{
    background: #002239;
    width: 15%;
    height: 100%;
    position: fixed;
    box-shadow: 2px 0px 20px #232523;
}

nav ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;
}

nav li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 11.5%;
}

#logo
{
    width: 75%;
    padding-left: 5%;
    color: #c2c2c2;
}

#li_logo
{
    border-bottom: 1px #aaaaaa solid;
}

.menu
{
    text-decoration: none;
    height: 100%;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 11.5%;
    color: #c2c2c2;
}

.menu:hover, .menu_lateral:hover
{
    background: #910000;
}

#personnalisation
{
    padding-top: 9%;
}

#menu_lateral
{
    background: #002d4b;
    box-shadow: 0px 0px 0px;
    visibility: hidden;
    height: 25%/*237px*/;
    top: 8.4%;
    left: 15%;
    z-index: 1;
}

#ul_menu_lateral
{
    height: 100%;
}

.li_menu_lateral
{
    height: 33.3%;
}

.menu_lateral
{
    text-decoration: none;
    height: 100%;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 11.5%;
    color: #c2c2c2;
}

header
{
    position: relative;
    background-color: #00062e;
    color: #c2c2c2;
    display: flex;
	align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    margin-left: 15%;
    padding: 2%;
    text-align: center;
}

h1
{
    font-weight: normal;
}

#recherche
{
    background: #2e2e57;
    color: #ffffff;
    border: none;
    outline: none;
    width: 29.5%;
    padding: 1.6% 6% 1.5% 2%;
    border-radius: 25px;
}

#recherche:focus
{
    border: 1px #b2b2b2 solid;
}

#envoyer
{
    width: 3%;
    position: relative;
    top: 4px;
    right: 40px;
}

#nom_prenom
{
    position: relative;
    top: 4px;
    right: 75px;
    float: left;
}

#deconnexion
{
    clear: both;
}

#commandes_cours
{
    margin-top: 2%;
}

.tabl_comm
{
    border-bottom: 1px #565656 solid;
}

body
{
    background-color: #e9e5dc;
    position: relative;
    min-height: 950px;
}

#corps
{
    margin-left: 15%;
    width: auto;
    padding: 2%;
    text-align: center;
}

#message
{
    background: #dd8500;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    width: 25%;
    margin: 0% 37.5% 3% 37.5%;
}

#haut_page
{
    background: #dd8500;
    width: 25px;
    height: 25px;
    padding: 5px 2px 1px 2px;
    border-radius: 7px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

#img_haut_page
{
    width: 75%;
}

#liste_fourniture
{
    margin-bottom: 14%;
}

.submit
{
    margin-top: 5%;
}

.tabl_fourn
{
    width: 15%;
}

h4
{
    text-align: center;
    margin-bottom: 1%;
}

.photo_fournitures
{
    width: 200px;
}

table
{
    width: 100%;
    text-align: center;
}

th, td
{
    border-bottom: 1px #363636 solid;
    padding: 1% 0% 1% 0%;
}

.confirm
{
    background: #09b302;
    border-radius: 5px;
    text-align: center;
    padding: 0.3%;
    color: #ffffff;
    font-weight: bold;
}

.erreur
{
    background: #ee0000;
    border-radius: 5px;
    text-align: center;
    padding: 0.3%;
    color: #ffffff;
    font-weight: bold;
}

.img_confirm, .img_erreur
{
    width: 1.1%;
    position: relative;
    top: 2px;
}

textarea
{
    background: #dd8500;
    color: #ffffff;
    width: 33%;
    margin: 0% 33.5% 1% 33.5%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    resize: none;
}

select
{
    margin-right: 1%;
}

#divmodificationlogo
{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

#modificationlogo
{
    margin-right: 2%;
}

#navlistecomptes
{
    position: relative;
    top: 50px;
}

#liste_comptes
{
    margin: 5% 0% 0% 0%;
}

#supprimer_tous
{
    margin: 1% 0% 5% 82.5%;
}

#liste_commandes
{
    margin-bottom: 14%;
}

caption
{
    font-size: 18px;
    font-weight: bold;
}

#col_message
{
    width: 20%;
}

#supprimer_message
{
    margin-top: 3%;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    background: #00062e;
    color: #c2c2c2;
    width: 83%;
    margin-left: 15%;
    padding: 1%;
    position: absolute;
    bottom: 0;
}

#service, #categorie
{
    margin-left: 3%;
    margin-top: 1%;
}
